#primary {
    padding-block: 1.25rem;

    div {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    div:nth-child(2) {
        margin-inline: auto;
    }

    div:nth-child(3) {
        justify-self: end;
    }
}

#secondary {
    padding-block: 0.875rem;
    border: solid 1px var(--stroke-color);
    border-inline: none;
    justify-content: space-between;
}

@media (width <= 60em) {
    #secondary {
        display: flex;
        flex-wrap: wrap;
        gap: 0.625rem;
        justify-content: center;

        & > a {
            white-space: nowrap;
        }
    }
}
