#featured {
    img {
        height: 100%;
        object-fit: cover;
    }
    
    .card {
        border-radius: 4px;
        overflow: hidden;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            inset: 0;
            top: 50%;
            background: linear-gradient(180deg, transparent 0%, #020617 100%);
        }
    }
}
