section header {
    border-top: 1px solid var(--stroke-color);
    padding-block: 0.75rem 1.5rem;
    font: var(--text-span);

    a {
        justify-self: end;
        align-items: center;
        gap: 0.5rem;

        span {
            background-image: url(../assets/icons/ArrowRight.svg);
            width: 1rem;
            height: 1rem;
        }

        &:hover span {
            background-image: url(../assets/icons/ArrowRightHover.svg);
        }
    }
}

#featured {
    grid-area: featured;
    img {
        height: 100%;
        object-fit: cover;
        flex-shrink: 0;
    }

    .card {
        border-radius: 0.25rem;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            inset: 0;
            top: 50%;
            background: linear-gradient(180deg, transparent 0%, #020617 100%);
        }

        figcaption {
            position: absolute;
            bottom: 0;
            padding: 1.5rem;

            &:has(.text-lg) {
                padding: 0.75rem;
            }

            h2 {
                margin-top: 0.5rem;
            }
        }
    }
}

#weekly {
    grid-area: weekly;
    & > div {
        grid-template-columns: repeat(4, minmax(18.75rem, 1fr));
    }

    img {
        height: 12.5rem;
        width: 100%;
    }

    figure {
        position: relative;

        .content-tag {
            position: absolute;
            top: 0.5rem;
            left: 0.5rem;
        }

        p {
            margin-top: 0.5rem;
            font-weight: 800;
        }
    }
}

#ai {
    grid-area: ai;
    img {
        width: 11rem;
        aspect-ratio: 1/1;
        object-fit: cover;
    }

    h3 {
        margin-block: 0.5rem 0.25rem;
    }
}

aside {
    grid-area: aside;
}

#more {
    margin-top: 2rem;
    h3 {
        margin-top: 0.5rem;
    }

    img {
        width: 4.5rem;
        aspect-ratio: 1/1;
        object-fit: cover;
    }
}

@media (width <= 80em) {
    main {
        grid-template-areas:
            'featured featured'
            'weekly weekly'
            'ai ai'
            'aside aside';
    }

    #featured {
        grid-auto-flow: row;

        & #first-card-img {
            min-height: 18.75rem;
            width: 100%;
        }

        & > div {
            grid-template-columns: repeat(2, minmax(15.625rem, 1fr));

            & figure > img {
                min-height: 12.5rem;
                width: 100%;
            }
        }
    }

    #weekly > div {
        grid-template-columns: repeat(2, minmax(12.5rem, 1fr));
    }

    #ai > div > article {
        grid-template-columns: 80px 1fr;

        & > div:nth-child(1) {
            grid-column: 2;
        }

        & > div:nth-child(2) {
            grid-column: 1;
        }
    }

    div#ads {
        text-align: center;
    }

    #more article {
        grid-template-columns: 4.5rem 1fr;
    }
}

@media (width <= 40em) {
    #featured > div {
        grid-template-columns: repeat(1, minmax(15.625rem, 1fr));
    }

    #weekly > div {
        grid-template-columns: repeat(1, minmax(12.5rem, 1fr));
    }
}
